---
import { GoogleFontsOptimizer } from "@garpunkal/astro-google-fonts-optimizer";
import "@styles/app.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="Gareth Wright" />
		<meta name="copyright" content="Gareth Wright" />
		<meta name="theme-color" content="#077DA0" />

		<meta property="og:title" content="" />
		<meta property="og:site_name" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://localhost:4321" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="https://localhost:4321" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:creator" content="" />
		<meta name="twitter:image:src" content="" />

		<link rel="publisher" href="https://localhost:4321" />
		<link rel="canonical" href="https://localhost:4321" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" />
	</head>
	<body>
		<a href="#main" class="skip-to-main-content-link">Skip to main content</a>

		<main id="main">
			<slot />
		</main>

		<script is:inline>
			if (localStorage.theme === "dark") document?.querySelector("html")?.classList.add("dark");

			const element = document.getElementById("switch-theme");
			if (element) {
				element.addEventListener("click", () => {
					const htmlClasses = document.querySelector("html")?.classList;
					if (localStorage.theme === "dark") {
						htmlClasses?.remove("dark");
						localStorage.theme = "light";
					} else {
						htmlClasses?.add("dark");
						localStorage.theme = "dark";
					}
				});
			}
		</script>
		<!-- <script>
			import DynamicModules from "../scripts/DynamicModules.ts";
			const moduleImporter = new DynamicModules();
			moduleImporter.init();
		</script> -->
	</body>
</html>

		
	