---
import Layout from "@layouts/Layout.astro";
import UmbracoService from "@scripts/services/UmbracoClientService";

const page = await UmbracoService.getContentItemByPath(Astro.url.pathname);

console.log(page);
---

<Layout title="Umbraco Headless Starter">
	<section class="container">
		<h1>Umbraco Headless Starter</h1>
		<a id="switch-theme" aria-label="dark mode" title="dark mode" class="w-full cursor-pointer text-primary">[theme]</a>
		<p>page title: {page?.properties?.title}</p>
	</section>
</Layout>
