---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Umbraco Headless Starter">
	<section class="container">
		<h1>Umbraco Headless Starter</h1>
		<p>Welcome to the Umbraco Headless Starter!</p>
		<a id="switch-theme" aria-label="dark mode" title="dark mode" class="w-full cursor-pointer text-primary">[theme]</a>
	</section>
</Layout>
